<nav class="navbar is-black is-medium">
    <div class="navbar-brand">
        <a class="navbar-item ">
            <img src="..\assets\logo2.JPG" >
        </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink='/' >
        About
      </a>
      <a class="navbar-item" routerLink='/Projects'>
        Projects
      </a>
      <div class="navbar-item" >
          <button class="button is-link is-inverted is-active">
            <a href="/assets/RIJUTA_SINGH_VisualCV_Resume.pdf" download>
              Resume
            </a>            
          </button>
        </div>
    </div>
</nav>
