.fa {
    margin: 5px;
    padding: 18px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius:20%;
    
    color: white!important;
  }
  .fa-border {
    border: solid .02em #eee;
}
  .footer{background-color:black;
    padding-top:15px !important;
    padding-bottom: 20px;;
  }