<footer class="footer">
    <div class="content has-text-centered">
        <a class=" icon fa fa-border fa-github " href="https://github.com/Rijuta-s">
        </a>
        <a class="icon fa fa-border fa-facebook" href="https://www.facebook.com/nehal.singh.102977">
        </a>
        <a class="icon fa fa-border fa-instagram" href="https://www.instagram.com/rijuta_0905/">
        </a>
        <a class="icon fa fa-border fa-linkedin" href="https://www.linkedin.com/in/rijuta-singh-5b478b1b1/">
        </a>
        <a class="icon fa fa-border fa-envelope" href="mailto:rijuta_s@me.iir.ac.in">
        </a>
        <hr class="w" >
        <div class="paragraph" style="color:white; text-align:center;" >
        Made with ♥.</div>
    </div>
</footer>