
<section class="hero is-dark">
   <div class="hero-body">
       <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
           <img class="img" src="..\assets\download.png">
        </div>
        
        <div class="column">
          <H1 class="p">About Me</H1>
          <hr class="w">
          <p class="paragraph">
            <br>
            I am Rijuta Singh, a Mechanical Engineering undergraduate at IIT Roorkee,Uttarakhand.<br><br>

            I am a tech-bee! I love to explore new technology. I am passionate about core Mechanical. But this doesn't overshadow my interest in programming and automation.I believe Mechanical and AI together can do wonders.<br>
            <br>I love to design and build tech!<br> 
            I like to contribute in open-source oganizations. Work. Inspire. Work!<br><br>
            Feel free to reach me out on the social media platforms mentioned at the bottom of this site.😃
          </p>
        </div>
      </div>
       </div>
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">  
          </div>
          
          <div class="column one" >
            <H1 style="font-size: 20px; padding-bottom: 20px;">General Bio</H1>
            
            <div class="columns alternate box" style="padding:0" >
                <div class="column is-one-quarter" >
                  <i class="fa fa-pagelines" aria-hidden="true"></i> Parents:
                </div>
                <div class="column" >
                  Both Post Graduate
                </div>
            </div>
            <div class="columns box notification is-dark" style="padding:0">
              <div class="column is-one-quarter" >
                <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born On:
              </div>
              <div class="column" >
                9th May 2001
              </div>
          </div>
          <div class="columns alternate box" style="padding:0">
            <div class="column is-one-quarter" >
              <i class="fa fa-home" aria-hidden="true"></i> Home:
            </div>
            <div class="column" >
              Mohali,Punjab
            </div>
        </div>
        <div class="columns box notification is-dark" style="padding:0" >
          <div class="column is-one-quarter" >
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Currently:
          </div>
          <div class="column" >
            A Sophomore
          </div>
      </div>

          </div>
        </div>
      </div>
    </div> 
</section>