/* You can add global styles to this file, and also import other style files */
.w{ height:1px;
    margin: 3px;  
}
.paragraph{    text-align: left;
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
}